<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>spring-mvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <absolute-ordering></absolute-ordering> <!--  If not specified, causing a problem with start of server  -->
  
  <!-- Dispatcher Servlet Configuration -->
  <servlet>
	<servlet-name>dad-frontcontroller</servlet-name> 	<!-- It checks for dad-frontcontroller-servlet.xml file by default in WEB-INF folder-->
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<!--  Configuring your own name to dispatcher servlet configuarion (spring configuration) file (which is by defauilt dad-frontcontroller-servlet.xml -->
	<init-param>
		<param-name>contextConfigLocation</param-name> 	
		<param-value>/WEB-INF/beans.xml</param-value>
	</init-param>
	<!-- Loads your DispatcherServlet on server startup, if not specified, DispatcherServlet will be started only upon REST calls -->
	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dad-frontcontroller</servlet-name>
  	<url-pattern>/home.com/*</url-pattern> <!-- All  the requests to DS should come at /home.com/ -->
  </servlet-mapping>
  

</web-app>

